html
{
    background: #3d3d3d;
}

header
{
    position:sticky;
    top: 0px;
    background-color: #fff;
    padding: 10px;
    border: 5px;
}

body
{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;

}

h1
{
    font-size: 3em;
    margin: 0px;
}

h2
{
    position: static;
    text-align: center;
}

h3
{
    text-align: center;
}

p
{
    line-height: 1.4em;
}

time
{
    font-size:large;
    text-align: left;
    color: #00d9ff
}

table 
{
    text-align: center;
    border: 1px solid;
}

th
{
    color: orange;
    text-align: center;
    border: 1px solid;
}

tr
{
    background-color: black;
}

td
{
    color: red;
    text-align: center;
    border: 1px solid;
}

form
{
    line-height: 2.5em;
}

.author
{
    font-size:large;
    text-align: left;
    color: orange
}

img[src$=".jpg"] 
{
    display: float;
    float: right;
}

img[src$=".png"] 
{
    display: float;
    float: right;
}

#blog
{
    border-top: 1px dotted #9b9b9b;
    display: flex;
}

.blog-post
{
    padding: 10px;
    margin: 10px;
    flex: 1;
    border-bottom: 1px dotted #9b9b9b;
    
}

#newsletter
{
    background-color: #fff;
    padding: 10px;
    border: 5px;
    text-align: center; 
}

#about
{
    border-top: 1px dotted #9b9b9b;
    display: flex;
    flex: 1;
    padding: 10px;
}